<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title> Newsletter Template - Spectrum Resorts </title>
    <link rel="stylesheet" href="boilerplatesINK/ink.css"> <!-- For testing only -->

    <style type="text/css">
      
      /* Ink styles go here in production */
      
    </style>
    <style type="text/css">
     body, .body{ 
        background-color: #E2E2E2;  
         font-weight: normal; 
     }
      /* Your custom styles go here */
     #letter{ 
        background-color:#F1F1F1;   
     } 
    #footer{ 
        background: #888888; 
        color:#ffffff; 
    }
    .footer-text{ 
        color:#FFFFFF; 
    }
    .footer-text a{ 
        color:#FFFFFF; 
        text-decoration: underline; 
    } 
     .container{ 
       background: #ffffff; 
         font-size: 12px;
     }
    body, table.body, h1, h2, h3, h4, h5, h6, p, td {
        line-height: 1.5;         
    }
     h1, h2, h3, h4, h5, h6{ 
       padding-bottom:10px;   
     } 
        ul{ 
            padding-left: 15px; 
        } 
    </style>
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
          <!--Begin Email -->    
          <!--Header--> 
            <table class="container"> 
                <tr> 
                    <td> 
                        <table class="row"> 
                            <td class="wrapper last"> 
                                <table class="twelve columns"> 
                                    <tr> 
                                        <td class="center">
                                            <center>
                                            <a href="#">View this email in your browser</a>
                                            </center>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </table>
                        <table class="row"> 
                            <td class="wrapper last"> 
                                <table class="twelve columns"> 
                                    <tr> 
                                        <td class="center">
                                            <center>
                                                <img class="center" src="http://placehold.it/150x100"/> 
                                            </center>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </table>
                    </td>
                </tr>  
            </table>   
          <!--End Header--> 
          <!--Navigation--> 
            <table class="container">
                  <tr>
                    <td>
                      <table class="block-grid three-up">
                        <tr>
                          <td>
                            Link 1 
                          </td><td>
                            Link 2
                          </td><td> 
                            Link 3   
                          </td><td> 
                            Link 4
                          </td><td> 
                            Link 5
                          </td><td> 
                            Link 6
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
          <!--End Navigation--> 
          <!--Begin Hero Image--> 
           <table class="row"> <!-- Styles go on the row -->
              <tr>
                <td class="center" align="center"> <!-- Center the container -->
                  <center>

                    <table class="container"> <!-- Container restricts the content width -->
                      <tr>
                        <td class="wrapper last"> <!-- Wrapper stays on the inner table -->

                          <table class="twelve columns">
                            <tr>
                              <td>
                                  <img src="http://placehold.it/580x250"/> 
                              </td>
                              <td class="expander"></td>
                            </tr>
                          </table>

                        </td>
                      </tr>
                    </table>

                  </center>
                </td>
              </tr>
            </table>    
          <!--End Hero Image--> 
          <!--Start Content Block--> 
          <table class="container content-block"> 
            <tr> 
                <td> 
                    <table class="row"> 
                        <table class="wrapper last"> 
                            <table class="twelve columns"> 
                                <tr> 
                                    <td class="text-pad">
                                        <h5 class="header"> Content Block Header </h5>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt luctus lobortis. Proin eleifend facilisis nisi non dignissim. Maecenas pellentesque, est eu dapibus consequat, magna nisl suscipit sem, et scelerisque dolor felis vehicula tortor. Suspendisse ac feugiat massa. Etiam in risus porttitor, dictum purus id, vulputate risus. Etiam vitae ornare arcu. Praesent id faucibus diam, viverra rhoncus elit. Nunc eleifend sapien vel quam bibendum, eu finibus nisi facilisis. Suspendisse pulvinar erat mi. Suspendisse interdum eget dolor sodales tempor. Donec iaculis lacinia molestie. Nunc semper risus odio, sit amet semper dolor porta at. Vestibulum in nunc interdum, bibendum odio sed, sodales nisl. Suspendisse tincidunt nunc sed quam malesuada, quis posuere ante tristique. 
                                    </td>
                                </tr>
                            </table>
                        </table>
                    </table>
                </td>  
            </tr>    
          </table>   
          <!--End Content Block--> 
          <!--Start Split Block--> 
            <table class="container content-block"> 
                <tr> 
                    <td> 
                        <table class="row">
                            <tr>
                                <td class="wrapper"> 
                                    <table class="six columns"> 
                                        <tr> 
                                            <td> 
                                                <img src="http://placehold.it/280x300"/> 
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="wrapper last"> 
                                    <table class="six columns"> 
                                        <tr> 
                                            <td class="text-pad"> 
                                                <h6> Quick Tips </h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="six sub-columns"> 
                                                <ul> 
                                                    <li> List Item 1 </li>
                                                    <li> List Item 2 </li>
                                                    <li> List Item 3 </li>
                                                    <li> List Item 4 </li>
                                                    <li> List Item 5 </li>
                                                    <li> List Item 6 </li>
                                                </ul>
                                            </td>
                                            <td class="six sub-columns"> 
                                                <ul> 
                                                    <li> List Item 1 </li>
                                                    <li> List Item 2 </li>
                                                    <li> List Item 3 </li>
                                                    <li> List Item 4 </li>
                                                    <li> List Item 5 </li>
                                                    <li> List Item 6 </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>  
                </tr>    
            </table>       
          <!--End Split Block--> 
          <!--Start Letter Block--> 
            <table class="container" id="letter"> 
                <tr> 
                    <td> 
                        <table class="row"> 
                            <tr> 
                                <td class="wrapper last"> 
                                    <table class="twelve columns"> 
                                        <tr> 
                                            <td class="text-pad"> 
                                                    <h4>A letter from the General Manager </h4>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                             </tr> 
                        </table>  
                    </td>
                </tr>
                <tr> 
                    <td> 
                        <table class="row"> 
                            <tr> 
                                <td class="wrapper last"> 
                                    <table class="twelve columns">
                                        <tr> 
                                            <td class="eight sub-columns text-pad"> 
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt luctus lobortis. Proin eleifend facilisis nisi non dignissim. Maecenas pellentesque, est eu dapibus consequat, magna nisl suscipit sem, et scelerisque dolor felis vehicula tortor. Suspendisse ac feugiat massa. Etiam in risus porttitor, dictum purus id, vulputate risus. Etiam vitae ornare arcu. Praesent id faucibus diam, viverra rhoncus elit. Nunc eleifend sapien vel quam bibendum, eu finibus nisi facilisis. Suspendisse pulvinar erat mi. Suspendisse interdum eget dolor sodales tempor. Donec iaculis lacinia molestie. Nunc semper risus odio, sit amet semper dolor porta at. Vestibulum in nunc interdum, bibendum odio sed, sodales nisl. Suspendisse tincidunt nunc sed quam malesuada, quis posuere ante tristique. 
                                            </td>
                                            <td class="four sub-columns"> 
                                                <img src="http://placehold.it/150x150"/>
                                                    <strong> John Doe </strong><br/> 
                                                    <em> General Manager </em><br/>
                                                    <small>jdoe@spectrumresorts.com</small><br/>
                                                    <small>251.555.5555</small><br/>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                             </tr> 
                        </table>  
                    </td>
                </tr>
            </table>      
          <!--End Letter Block--> 
          <!--Start Board Member Block--> 
              
          <!--End Board Member Block--> 
          <!--Start Email Footer--> 
          <table class="container" id="footer"> 
              <tr> 
                <td> 
                    <table class="row"> 
                        <tr> 
                            <td class="wrapper last"> 
                                <table class="six columns"> 
                                    <tr> 
                                        <td class="text-pad footer-text"> 
                                            <small>
                                                 This email was sent to EMAIL ADDRESS <br/> 
                                                <strong> Spectrum Resorts </strong><br/> 
                                                <em> 925 Beach Club Trail </em><br/> 
                                                <em> Gulf Shores, AL 36542-8142 </em><br/> 
                                                <a> Unsubscribe from future emails</a>
                                            </small>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>  
                </td>
              </tr>
          </table>
          <!--End Email Footer--> 
          <!--End Email --> 
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>